.page(data-bind="page:'speak'")
  .page-header
    div(data-bind="text:speak_message")
  .page-body
    textarea(data-bind="value:speak_somethings")
  .page-footer
    button(data-bind="click:send") send
    button(data-bind="click:cancel_send") cancel send


