mixin tag_snippet()
  div(data-bind="foreach:tags")
    span.tag(data-bind="css:{\
      'ion-ios-person' : $data == 'actor',\
      'ion-android-contact' : $data == 'killer',\
      'ion-ios-bell' : $data == 'police',\
      'ion-ios-flask' : $data == 'doctor',\
      'ion-android-cancel' : $data == 'dead',\
      'ion-eye' : $data == 'known_by_police',\
    }")
.page(data-bind="page:'game'")
  .page-header
    h1(data-bind="text: room_name")
  .page-body
    div(data-bind="css:{night:night}")
      .theme_1
        .players(data-bind="css:{ voting : voting }")
          // ko foreach : players
          .player(data-bind='event:{\
                    "mouseenter" : $root.hovered_player.bind(null),\
                    "mouseleave" : $root.hovered_player.bind(null,null)\
                  },\
                  css: (\
                        $data.get_pos_class($root.players().length,$index()+1) \
                        + " " + $root.get_voted_class( $data ))\
                  ')
            .content
              div
                span(data-bind="if: (id + '') == $root.me().id")
                  | ★
                span.name(data-bind="text: id")
              +tag_snippet()
              div
                // ko if: $root.voting
                span(data-bind="text: ' votes: ' + temp_effect().length ")
                // /ko
                // ko if: $data.can_be_vote() && $root.can_vote()
                button(data-bind="click:$root.send") vote this guy
                // /ko
              // ko if: saying() != ''
              div(data-bind="text: ' 说：   ' + saying() ")
              // /ko
          // /ko
          .sun_and_moon
            .shadow
            each k in '12345678'
              .star
                .edges
                  each i in '1234'
                    .edge

          // ko if:hovered_player
          .player-action
            // ko with: hovered_player
            div.name(data-bind="text: id")
            +tag_snippet()
            // ko foreach : actions
            div
              div
                i(data-bind="text:turns")
                |  
                b(data-bind="text:skill")
              div(data-bind="text:does")
            // /ko
            // /ko
          // /ko

          .command(data-bind="if:$root.command")
            .left(data-bind="simple_animate_flow:$root.command.running")
              span(data-bind="text:$root.command")
            .right(data-bind="simple_animate_flow:$root.command.running")
              span(data-bind="text:$root.command")
  .page-footer
    div(data-bind="if:!$root.gaming()")
      button(data-bind="click:$root.page.bind(null,'room')") back to room