extend layout
block content
  
  .left
    h1(data-bind="text: page")
    include incs/page_hall
    include incs/page_room
    include incs/page_game
    include incs/page_speak
    include incs/page_vote
  .right
    include incs/part_message
